body{
  text-align: center;
  font: red;
}

.page {
  margin-left: auto;
  margin-right: auto;
}
#simCity {
  background-image: url('img/simcity.jpg');
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

#explosion {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.blackie {
  height: 400px;
  width: 200px;
  background-color: black;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  opacity: 0.8;
}

#timer {
  font-size: 40pt;
  color: red;
}

#unCutBlue{
  position: absolute;
  top: 20px;
  left: 100px;

}

#CutBlue {
  position: absolute;
  top: 20px;
  left: 100px;
}

#space {
  height: 300px;
}

#green {
  font-size: 40pt;
  color: red;
}
